{% load static %}
{% load custom_tags %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Home{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

</head>
<body>
{% include 'post/message.html' %}
<div class="grid-container">
    <div class="sidenav">
        <div style=" position: fixed;">
            <a href="{% url 'user_detail' request.user.slug %}"><img class="user-pic"
                                                                     src="{{ request.user.profile_pic.url }}"></a>
            <a href="{% url 'friends_post' %}"><i class="fa fa-home"></i>Home</a>
            <a href="{% url 'create_post' %}"><i class="fa fa-plus-square"></i>Create post</a>
            <a href="{% url 'followers' %}"><i class="fa fa-user"></i>Followers {% followers_len request.user %}</a>
            <a href="{% url 'following' %}"><i class="fa fa-users"></i>Followings {% following_len request.user %}</a>
            <a href="{% url 'follow_requests' %}"><i class="fa fa-user-plus"></i>Follow Requests {% follow_req_len request.user %}</a>
            <a class="active" href="{% url 'edit_user' request.user.id %}"><i class="fa fa-edit"></i>Edit Info</a>
            <a class="active" href="{% url 'logout' %}"><i class="fa fa-sign-out"></i>Logout</a>
        </div>
    </div>
    <div class="main">
        {% block main %}
        {% endblock %}
    </div>
    <div class="sidenav2">
        <input type="text" id="mySearch" onkeyup="myFunction()" placeholder="Search.." title="Type in a category">
        <ul id="myMenu">
            {% for i in request.user.all_user %}
                <li><b><a href="{% url 'user_detail' i.slug %}">{{ i.username_media }}</a></b></li>
            {% endfor %}
        </ul>

        <script>
            function myFunction() {
                var input, filter, ul, li, a, i;
                input = document.getElementById("mySearch");
                filter = input.value.toUpperCase();
                ul = document.getElementById("myMenu");
                li = ul.getElementsByTagName("li");
                for (i = 0; i < li.length; i++) {
                    a = li[i].getElementsByTagName("a")[0];
                    if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
                        li[i].style.display = "";
                    } else {
                        li[i].style.display = "none";
                    }
                }
            }

        </script>
    </div>
</div>
</body>
</html>















