{% extends 'base_profile.html' %}
{% load custom_tags %}
{% block main %}
    {% include 'post/message.html' %}
    <form method="post">
        {% csrf_token %}
        <div class="container">
            <label><b>Old Password</b></label><br>
            {{ form.old_password }}<br>
            <label><b>New Password</b></label><br>
            {{ form.new_password1 }}<br>
            <label><b>Re-Enter Password</b></label><br>
            {{ form.new_password2 }}<br>
            <button type="submit" class="btn-wide">Change</button>
        </div>
    </form>
{% endblock main %}