<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        .btn_t {
            background-color: DodgerBlue;
            border: none;
            color: white;
            padding: 12px 16px;
            font-size: 16px;
            cursor: pointer;
        }
    </style>
    <title>Register</title>
</head>
<body>
<form method="post">
    {% csrf_token %}
{#    <p>Email: {{ form.email }}</p>#}
{#    <p>Name: {{ form.first_name }}</p>#}
{#    <p>Surname: {{ form.last_name }}</p>#}
{#    <p>Gender: {{ form.gender }}</p>#}
{#    <p>Password: {{ form.password1 }}</p>#}
{#    <p>Password Confirmation: {{ form.password2 }}</p>#}
{#    <p>{{ form.error_messages }}</p>#}
    {{ form.as_p }}
    <input class="btn_t" type="submit" value="Save">
</form>
</body>
</html>