body {
    margin: 0;
}

.grid-container {
    display: grid;
    grid-template-columns:  185px 1fr;
    grid-template-rows: 50px 1fr;
    grid-template-areas:
    "sidenav header "
    "sidenav main ";
    height: 100vh;
}

.header {
    grid-area: header;
    background-color: #c280a4;
}

.sidenav {
    grid-area: sidenav;
    background-color: #ecc576;
    display: flex;
    flex-direction: column;
}

.nav-list {
    padding: 0;

}

.list-item {
    padding: 20px 24px 44px 23px;

}

.main {
    grid-area: main;
    margin: 5em 15em;
}


.align-center {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
}

.link {
    color: #6c757d;
    text-decoration: none;
}

.link:hover {
    color: black;
}

.main ul {
    list-style: none;
}

.main li {
    padding: 0.5em;
}

.link_h {
    text-decoration: none;
    opacity: 0.8;
}

.link_h:hover {
    color: black;
}
.btn{
 border: 3px solid #fe59ee;
    background-color: #fe59ee;
    border-radius: 2em 2em;
        padding: 6px;
}