{% extends 'base_profile.html' %}
{% load custom_tags %}
{% load static %}
{% block main %}
<form method="post" enctype="multipart/form-data">{% csrf_token %}
    <div class="container flw_pic">

            <label><b>Tile</b></label><br>
            {{ form.title}}<br>
            <label><b>Content</b></label><br>
            {{ form.content }}<br>
            <label><b>Post Picture</b></label><br>
            {{ form.post_pic }}<br>
            <button type="submit" class="btn_blue">Update</button>


        </div>
</form>
{% endblock main %}