{% extends 'base_profile.html' %}
{% load static %}
{% block main %}
    <form method="post" class="flw_pic">{% csrf_token %}
        <p>Are you sure you want to delete "{{ object }}"?</p>
{#        <input style="height: 20px;#}
{#    width: 60px;#}
{#    border-radius: 50px;#}
{#    background-color: DodgerBlue;" type="submit" value="Confirm">#}
        <button class="btn_blue" type="submit">Confirm</button>
        <button class="btn_blue"><a style="color: white" href="{% url 'post_detail' post.id %}">Refuse</a></button>
    </form>
{% endblock %}
