{% extends 'base_profile.html' %}
{% load custom_tags %}
{% block main %}
    <ul>

        <li>
            {% if post.user.profile_pic %}
                <img class="user-pic-cm"
                     src="{{ post.user.profile_pic.url }}">
            {% else %}
                <div class="default-pic"></div>
            {% endif %}
            <b>{{ post.user | title }}</b> {% p_age post.created %}
            {% if post.user == request.user %}
                <button class="btn_blue flw_pic"><i class="fa fa-edit"></i><a href="{% url 'edit_post' post.id %}">Edit
                    Post</a></button>
                <button class="btn_blue"><i class="fa fa-trash"></i><a href="{% url 'delete_post' post.id %}">Delete
                    Post</a></button>
            {% endif %}
        </li>
        <li><h2>{{ post.content }}</h2></li>
        {% if post.post_pic %}
            <img src="{{ post.post_pic.url }}" style="width: 300px; height: 300px">
        {% endif %}

    </ul>
    <ul>

        {% for comment in my_comment %}
            <span><b>{{ comment.user.username_media }}</b> : {{ comment.text }}</span>
            {% if comment.post.user == request.user %}
                <button class="btn_blue"><i class="fa fa-trash"></i><a
                        href="{% url 'delete_cm' comment.id %}">Delete</a>
                </button>
            {% endif %}
            <br>
        {% endfor %}
    </ul>


    <form action="" method="post" class="flw_pic">
        {% csrf_token %}
        <table>
            <tr>{{ form.as_table }}</tr>
        </table>
        <br>
        <tr>

            <td><input class="btn_blue" type="submit" VALUE="Send"></td>
        </tr>
    </form>
    <br>

{% endblock main %}